
<div style="background:rgba(225,225,255,.4);color:black;padding:20px;margin-bottom:5px;">
  <p>API Metadata</p>
</div>

<div style="background:rgba(225,225,255,.4);color:black;padding:20px;margin-bottom:5px;">
  POST /upload
  {
  "applicationid":"1234",
  "raw":"SomeData",
  "authorization":"Basic",
  "username":"bob",
  "password":"Seaweed"
  }
</div>

<div style="background:rgba(225,225,255,.4);color:black;padding:20px;margin-bottom:5px;">
  GET /upload
</div>

<div style="background:rgba(225,225,255,.4);color:black;padding:20px;margin-bottom:5px;">
  GET /upload/{number}
</div>


<div style="background:rgba(225,225,255,.4);color:black;padding:20px;margin-bottom:5px;">
  POST /application
  {
  "authorization":"Basic",
  "username":"bob",
  "password":"Seaweed",
  "applicationid":"1234"
  } 
</div>

<div style="background:rgba(225,225,255,.4);color:black;padding:20px;margin-bottom:5px;">GET /application</div>

<div style="background:rgba(225,225,255,.4);color:black;padding:20px;margin-bottom:5px;">DELETE /application</div>

