
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <script>
        function validateForm() {
          var x = document.forms["fetchid"]["id"].value;
          if (x == null || x == "") {
            alert("Name must be filled out");
            return false;
          }
        }
      </script>
      <div class="inner cover">
        <h1 class="cover-heading">Upload</h1>
        <p class="lead">One time links to files you care about</p>
      </div>

      <form action="/deaddrop/upload" method="POST" enctype="multipart/form-data">
        <div class="span12">
            <span class="btn btn-default btn-file">
              Upload file <input name="file" type="file"></input>
            </span>
            <br />
            <br />
            <input type="submit" name="Upload file" class="btn btn-lg btn-default"/>
        </div>
      </form> 
      
      <h1 class="cover-heading">Retrieve</h1>
      <p class="lead">Use a one time cipher to retrieve a file</p>

      <form action="/deaddrop/fetch" onsubmit="return validateForm();" name="fetchid" method="POST">

        <div class="form-group">
          <input class="form-control text-center" name="id" type="text" />
          <br />
          <input type="submit" name="Fetch file" class="btn btn-lg btn-default"/>
        </div>
      </form>
    </div>
  </div>
</div>