
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div  class="span4"></div>
    <div  class="span4"><img class="center-block" src="public/img/usb.png" /></div>
    <div  class="span4"></div>
    <div class="cover-container">

<script>
function validate_fileupload()
{
  var fileUpload = $('#fileu').val();
  if(fileUpload) {
        return true; // valid file extension
  }
  alert("Please select a file for upload - Excepted types are jpg|png|gif|txt|pdf|zip (More to come!)")
    return false;
} 


function validateForm() {
  var x = document.forms["fetchid"]["id"].value;
  if (x == null || x == "") {
    alert("Name must be filled out");
    return false;
  }
}
      </script>
      <div class="inner cover">
        <h1 class="cover-heading">Deaddrop</h1>
        <p class="lead">One time links to files you care about</p>
      </div>

      <form action="/deaddrop/upload" method="POST" onsubmit="return validate_fileupload();" enctype="multipart/form-data">
        <div class="span12">
          <span class="btn btn-default btn-file">
            Upload file <input name="file" id="fileu" type="file"></input>
          </span>
          <br />
          <br />
          <input type="submit" name="Upload file" class="btn btn-lg btn-default"/>
        </div>
      </form> 

      <p class="lead">Use a one time cipher to retrieve a file</p>

      <form action="/deaddrop/fetch" onsubmit="return validateForm();" name="fetchid" method="POST">

        <div class="form-group col">
          <input class="form-control text-center" name="id" type="text" />
          <br />
          <div class="row">
          <input type="submit" name="Fetch file" class="btn btn-lg btn-default"/>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
