
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">SilentDrop</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="mailto:tibbar@freedommail.ch">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
<script>
function validateForm() {
    var x = document.forms["fetchid"]["id"].value;
    if (x == null || x == "") {
        alert("Name must be filled out");
        return false;
    }
}
</script>
      <div class="inner cover">
        <h1 class="cover-heading">Upload</h1>
        <p class="lead">One time links to files you care about</p>

</div>
        <form action="/deaddrop/upload" method="POST" enctype="multipart/form-data">
        <div class="container">
        <div class="form-group">
          <input name="file" type="file"></input>
          <br />
          <input type="submit" class="btn btn-lg btn-default"/>
        </div>
        </form> 
        </div>
        <h1 class="cover-heading">Retrieve</h1>
        <p class="lead">Use a one time cipher to retrieve a file</p>

        <form action="/deaddrop/fetch" name="fetchid" method="POST">
        
        <div class="form-group">
          <input class="form-control text-center" name="id" type="text" />
          <br />
          <input type="submit" class="btn btn-lg btn-default"/>
         </div>
        </form>
      </div>
    </div>
</div> 
