{{define "content"}}
<body>
  {{ . }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>

  <h4>Current supporting jpg|png|gif|txt|pdf|zip</h4>
</body>
{{end}}
