{{define "content"}}
<body>
  {{ . }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>
<h5>We have no access to any information uploaded. All is encrypted on upload and decrypted on request through one time keys</h5>
</body>
{{end}}
